In [14]:
import pandas as pd

tbl0 = pd.read_csv("tbl0.tsv", sep="\t")
tbl1 = pd.read_csv("tbl1.tsv", sep="\t")
tbl2 = pd.read_csv("tbl2.tsv", sep="\t")

In [19]:
Recuento = tbl0.groupby('_c1').count()
Recuento = Recuento['_c0']
Recuento

_c1
A     8
B     7
C     5
D     6
E    14
Name: _c0, dtype: int64

In [20]:
Promedio = tbl0.groupby('_c1').mean()
Promedio = Promedio['_c2']
Promedio

_c1
A    4.625000
B    5.142857
C    5.400000
D    3.833333
E    4.785714
Name: _c2, dtype: float64

In [22]:
Maximo = tbl0.groupby('_c1').max()
Maximo = Maximo['_c2']
Maximo

_c1
A    9
B    9
C    9
D    7
E    9
Name: _c2, dtype: int64

In [29]:
Lista = tbl1['_c4'].tolist()
Lista = sorted(list(set(Lista)))
Lista = [z.upper() for z in Lista]

Lista

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [31]:
Suma = tbl0.groupby('_c1').sum()
Suma = Suma['_c2']
Suma

_c1
A    37
B    36
C    27
D    23
E    67
Name: _c2, dtype: int64